html
  head
    title 5-Day Forecast
    link(rel="stylesheet", href="/styles/forecast.css")
  body
    header.transparent-header
      h1 5-Day Forecast
      form.search-form(action="/forecast", method="GET")
        input(type="text", name="city", placeholder="Enter city name")
        button(type="submit") Get Forecast

    if forecastData
      if forecastData.list
        .forecast-container
          each forecast in forecastData.list
            .forecast-card
              div.date-time
                p 
                  strong Date: #{forecast.dt_txt}
                br
              div.temperature
                p 
                  strong Temperature (in °C): 
                | #{(forecast.main.temp - 273.15).toFixed(1)} °C
                p 
                  strong Temperature (in °F): 
                | #{((forecast.main.temp * 1.8) - 459.67).toFixed(2)} °F
                p 
                  strong Description: 
                | #{forecast.weather[0].description}
              div.wind-humidity
                p 
                  strong Wind Speed: 
                | #{forecast.wind.speed} m/s
                p 
                  strong Humidity: 
                | #{forecast.main.humidity}%
              div.feels-like
                p 
                  strong Feels Like (in °C): 
                | #{(forecast.main.feels_like - 273.15).toFixed(1)} °C
                p 
                  strong Feels Like (in °F): 
                | #{((forecast.main.feels_like * 1.8) - 459.67).toFixed(2)} °F
              div.visibility
                p 
                  strong Visibility: 
                | #{forecast.visibility} meters
      else
        p.translucent-background
          strong Forecast data not available
    else
      p.translucent-background
        strong No forecast data available

    footer.transparent-footer
      p Created by Curtis and Roshan
