html
  head
    title 5-Day Forecast
  body5
    h1 5-Day Forecast
    form(action="/forecast", method="GET")
      input(type="text", name="city", placeholder="Enter city name")
      button(type="submit") Get Forecast

    if forecastData
      if forecastData.list
        each forecast in forecastData.list
          div
            p Date: #{forecast.dt_txt}
            p Temperature (in °F): #{((forecast.main.temp * 1.8) - 459.67).toFixed(2)} °F
            p Temperature (in °C): #{(forecast.main.temp - 273.15).toFixed(2)} °C
            p Description: #{forecast.weather[0].description}
            p Wind Speed: #{forecast.wind.speed} m/s
            p Humidity: #{forecast.main.humidity}%
            p Feels Like (in °F): #{((forecast.main.feels_like * 1.8) - 459.67).toFixed(2)} °F
            p Feels Like (in °C): #{(forecast.main.feels_like - 273.15).toFixed(2)} °C
            p Visibility: #{forecast.visibility} meters
      else
        p Forecast data not available
    else
      p No forecast data available
